<label class="block text-sm">
  <span class="text-gray-700"><%= label %></span>
  <input class="block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-gray form-input" placeholder="<%= placeholder %>">
</label>
